Package: python3-pdx
Source: pdx
Version: 1.0.0-1
Architecture: all
Maintainer: Soham And Aditya <MIT>
Installed-Size: 34
Depends: python3:any
Section: python
Priority: optional
Description: Make PDFS easily
 A command line tool which automates making pdfs and allows you to focus on programming
